.show-details-header {
  padding: 16px 0;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 2fr;
}

@media (max-width: 768px) {
  .show-details-header {
    grid-template-columns: 1fr;
  }
}

.show-details-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
}

.show-back-button {
  background: #000000;
  display: flex;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 4px;
}

.show-back-button:hover {
  background: #333333;
}

.show-back-button img {
  color: #ffffff;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  .show-back-button img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-left: 15px;
  }
}

.show-back-button-text {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .show-back-button-text {
    font-size: 0.8rem;
    margin-left: 5px;
  }
}

.show-back-button-link {
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  width: 100%;
}

@media (max-width: 768px) {
  .show-back-button-link {
    margin-top: 15px;
  }
}

.show-back-button-link:hover {
  background: #333333;
}

.show-back-button-link:focus {
  outline: none;
}

.show-back-button-link:active {
  outline: none;
}

.show-details {
  margin: 30px auto;
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media screen and (max-width: 768px) {
  .show-details {
    margin: 15px auto;
    grid-template-columns: 1fr;
  }
}

.show-details-image-container {
  padding-right: 35px;
}

@media screen and (max-width: 768px) {
  .show-details-image-container {
    padding-right: 0;
  }
}

.show-details-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.show-details-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1rem;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .show-details-info {
    margin-left: 0;
    font-size: 0.8rem;
    margin-top: 15px;
  }
}

.show-details-info p {
  font-size: 1rem;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .show-details-info p {
    font-size: 0.8rem;
  }
}

.show-header-text {
  display: flex;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@media screen and (max-width: 768px) {
  .show-header-text {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
}

.show-genre-text {
  display: flex;
  font-size: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .show-genre-text {
    font-size: 0.8rem;
    padding: 10px 0 0 0;
    font-size: 0.8rem;
  }
}

.show-summary {
  padding: 20px 0 40px 0;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .show-summary {
    font-size: 0.8rem;
    padding: 10px 0 0 0;
  }
}

.show-details-link {
  display: flex;
  color: #ffffff;
  width: 100%;
}

.show-details-link:hover {
  text-decoration: underline;
}

.show-details-button-wrapper {
  width: 70%;
}
