.search-box-container {
  width: 100%;
  background: #1c1c1c;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.search-box-wrapper {
  width: 100%;
  max-width: 1400px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .search-box-wrapper {
    flex-direction: column;
  }
}

.search-box {
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 10px;
  font-style: italic;
  font-size: 1rem;
  width: 100%;
  line-height: 30px;
  margin: 15px 0;
}
